@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 40px;
    margin-top: 125px;
    margin-bottom: 250px;
}
img {
    width: 85%;
    padding-left: 8%;
    padding-top: 7%;
    padding-right: 10%;
    border-radius: 60px ; 
    
}

p {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
}
.section-1 {
    margin: 0 auto;
}

.section-2 {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 8%;
}
#final_text {
   width: 575px;
   margin: 0 auto;
    
}